* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main-wrapper {
  position: relative;
  width: 100%;
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1100px) {
  .main-wrapper {
    overflow: hidden;
  }
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.game-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 578px;
  height: 578px;
  border: 0px;
  padding: 21px;
  background-image: url("assets/lunchtime_flavorites/frame.png");
  background-size: contain;
  text-align: center;
}

.puzzle-background {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-position: center 58px;
  background-repeat: no-repeat;
  background-color: skyblue;
  background-image: url("assets/lunchtime_flavorites/lunchbox.png"), url("assets/lunchtime_flavorites/paper.png");
  background-repeat: no-repeat , repeat;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .puzzle-background {
    top: 17px;
    bottom: 17px;
    left: 17px;
    right: 17px;
    background-size: 320px;
    background-position: center 48px;
  }
}

@media screen and (max-width: 470px) {
  .puzzle-background {
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background-size: 246px;
    background-position: center 34px;
  }
}

@media screen and (max-width: 361px) {
  .puzzle-background {
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background-size: 225px;
    background-position: center 25px;
  }
}

.stack-area {
  position: absolute;
  top: 142px;
  height: 200px;
  background-color: #fff;
  border-radius: 22px;
}

@media screen and (max-width: 600px) {
  .stack-area {
    top: 116px;
    height: 163px;
  }
}

@media screen and (max-width: 470px) {
  .stack-area {
    top: 84px;
    height: 131px;
  }
}

@media screen and (max-width: 361px) {
  .stack-area {
    top: 70px;
    height: 120px;
  }
}

#stack-area-1 {
  width: 151px;
  left: 100px;
}

@media screen and (max-width: 600px) {
  #stack-area-1 {
    width: 108px;
    left: 64px;
  }
}

@media screen and (max-width: 470px) {
  #stack-area-1 {
    width: 85px;
    left: 54px;
  }
}

@media screen and (max-width: 361px) {
  #stack-area-1 {
    width: 85px;
    left: 44px;
  }
}

#stack-area-2 {
  width: 89px;
  left: 257px;
}

@media screen and (max-width: 600px) {
  #stack-area-2 {
    width: 81px;
    left: 179px;
  }
}

@media screen and (max-width: 470px) {
  #stack-area-2 {
    width: 63px;
    left: 144px;
  }
}

@media screen and (max-width: 361px) {
  #stack-area-2 {
    width: 55px;
    left: 133px;
  }
}

#stack-area-3 {
  width: 89px;
  left: 354px;
}

@media screen and (max-width: 600px) {
  #stack-area-3 {
    width: 81px;
    left: 267px;
  }
}

@media screen and (max-width: 470px) {
  #stack-area-3 {
    width: 63px;
    left: 212px;
  }
}

@media screen and (max-width: 361px) {
  #stack-area-3 {
    width: 55px;
    left: 192px;
  }
}

.ingredients-slider-container {
  position: absolute;
  bottom: 57px;
  background-color: #fff;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 600px) {
  .ingredients-slider-container {
    height: 70px;
    bottom: 34px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 470px) {
  .ingredients-slider-container {
    height: 60px;
    bottom: 33px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 361px) {
  .ingredients-slider-container {
    height: 60px;
    bottom: 25px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.ingredients-slider-container .ingredients-slider {
  width: 100%;
  height: 105px;
}

@media screen and (max-width: 600px) {
  .ingredients-slider-container .ingredients-slider {
    height: 70px;
  }
}

@media screen and (max-width: 470px) {
  .ingredients-slider-container .ingredients-slider {
    height: 60px;
  }
}

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
  height: 63px;
}

@media screen and (max-width: 600px) {
  .slick-slide img {
    height: 38px;
  }
}

.ingredients-slider:after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "Drop here to return";
}

.ingredient-title {
  color: #1a5632;
  font-size: 12px;
  text-transform: capitalize;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  font-family: "CabritoNorExB";
  width: 100%;
  bottom: -21px;
  line-height: 12px;
}

@media screen and (max-width: 600px) {
  .ingredient-title {
    bottom: -14px;
  }
}

@media screen and (max-width: 361px) {
  .ingredient-title {
    font-size: 8px;
  }
}

@media screen and (max-width: 470px) {
  .ingredient-title {
    font-size: 9px;
  }
}

.ingredient-title.cheese--crackers {
  bottom: -26px;
}

.ingredients-title.strawberry-watermelon {
  bottom: -26px;
}

@media screen and (max-width: 600px) {
  .ingredient-title.fruit-punch, .ingredient-title.strawberry-kiwi, .ingredient-title.peach-apple, .ingredient-title.strawberry-watermelon, .ingredient-title.peanut-butter, .ingredient-title.cheese--crackers, .ingredient-title.granola-bar {
    bottom: -22px;
  }
}

@media screen and (max-width: 470px) {
  .ingredient-title.fruit-punch, .ingredient-title.strawberry-kiwi, .ingredient-title.peach-apple, .ingredient-title.strawberry-watermelon, .ingredient-title.peanut-butter, .ingredient-title.cheese--crackers, .ingredient-title.granola-bar {
    bottom: -14px;
    line-height: 8px;
  }
}

.slick-list {
  overflow: visible !important;
  background-color: #fff;
  height: 100%;
}

.slick-list .slick-track {
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .slick-list .slick-track {
    padding-top: 6px;
  }
}

@media screen and (max-width: 470px) {
  .slick-list .slick-track {
    padding-top: 5px;
  }
}

.step-5 .slick-track {
  padding-top: 17px;
}

@media screen and (max-width: 600px) {
  .step-5 .slick-track {
    padding-top: 16px;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .slick-track {
    padding-top: 11px;
  }
}

@media screen and (max-width: 361px) {
  .step-5 .slick-track {
    padding-top: 11px;
  }
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  width: 70px;
  font-size: 80px;
  color: #1a5632;
  font-family: Arial;
  line-height: 94px;
}

@media screen and (max-width: 600px) {
  .slick-arrow {
    font-size: 67px;
    line-height: 64px;
    width: 75px;
  }
}

@media screen and (max-width: 470px) {
  .slick-arrow {
    line-height: 55px;
    width: 46px;
  }
}

.slick-prev {
  left: -70px;
}

@media screen and (max-width: 470px) {
  .slick-prev {
    left: -46px;
  }
}

.slick-next {
  right: -72px;
}

@media screen and (max-width: 470px) {
  .slick-next {
    right: -46px;
  }
}

#stack-area-2 .stacked:first-child:not(.ui-draggable-dragging) {
  top: 20% !important;
  -ms-transform: translateX(-50%) !important;
      transform: translateX(-50%) !important;
}

#stack-area-2 .stacked:first-child:not(.ui-draggable-dragging).granola-bar img, #stack-area-2 .stacked:first-child:not(.ui-draggable-dragging).celery img {
  width: 100% !important;
}

#stack-area-2 .stacked:nth-child(2):not(.ui-draggable-dragging).granola-bar img, #stack-area-2 .stacked:nth-child(2):not(.ui-draggable-dragging).celery img {
  width: 100% !important;
}

#stack-area-2 .apple.stacked:first-child:not(.ui-draggable-dragging) {
  top: 4% !important;
}

#stack-area-2 .peppers.stacked:first-child:not(.ui-draggable-dragging) {
  top: 4% !important;
}

#stack-area-2 .peppers.stacked:nth-child(2):not(.ui-draggable-dragging) {
  top: 77% !important;
}

#stack-area-2 .stacked:nth-child(2):not(.ui-draggable-dragging) {
  top: 70% !important;
}

#stack-area-3 .stacked:not(.ui-draggable-dragging) {
  width: 96% !important;
}

@media screen and (max-width: 600px) {
  #stack-area-3 img {
    width: 71% !important;
  }
}

.step-5 .stacked, .step-5 .stacked, .step-5 .stacked:not(.whatever) {
  height: 65px !important;
}

.step-5 .sticked {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  height: 100%;
}

.step-5 .sticked img {
  object-fit: contain;
  width: 100% !important;
  height: 100%;
}

.step-5 .ui-draggable-dragging img {
  object-fit: contain;
  height: 65px !important;
  width: 80px !important;
}

@media screen and (max-width: 470px) {
  .step-5 .ui-draggable-dragging img {
    height: 38px !important;
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(2):not(.ui-draggable-dragging) {
  top: 22% !important;
  left: 8% !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(2):not(.ui-draggable-dragging) {
    width: 46px !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(2):not(.ui-draggable-dragging) {
    left: 17% !important;
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(2):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.step-5 .stacked:nth-child(3):not(.ui-draggable-dragging) {
  bottom: -5% !important;
  right: 3% !important;
  -ms-transform: none !important;
      transform: none !important;
  left: initial !important;
  width: auto !important;
  top: initial !important;
  width: 60px !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(3):not(.ui-draggable-dragging) {
    width: 46px !important;
    bottom: 0% !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(3):not(.ui-draggable-dragging) {
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(3):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.step-5 .stacked:nth-child(6):not(.ui-draggable-dragging) {
  bottom: -1% !important;
  right: 27% !important;
  -ms-transform: none !important;
      transform: none !important;
  left: initial !important;
  width: auto !important;
  top: initial !important;
  width: 60px !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(6):not(.ui-draggable-dragging) {
    width: 46px !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(6):not(.ui-draggable-dragging) {
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(6):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.step-5 .stacked:nth-child(8):not(.ui-draggable-dragging) {
  bottom: 5% !important;
  right: 52% !important;
  -ms-transform: none !important;
      transform: none !important;
  left: initial !important;
  width: auto !important;
  top: initial !important;
  width: 60px !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(8):not(.ui-draggable-dragging) {
    width: 46px !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(8):not(.ui-draggable-dragging) {
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(8):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.step-5 .stacked:nth-child(4):not(.ui-draggable-dragging) {
  bottom: -2% !important;
  left: 6% !important;
  -ms-transform: none !important;
      transform: none !important;
  width: auto !important;
  top: initial !important;
  width: 60px !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(4):not(.ui-draggable-dragging) {
    width: 46px !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(4):not(.ui-draggable-dragging) {
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(4):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.step-5 .stacked:nth-child(7):not(.ui-draggable-dragging) {
  top: -5% !important;
  right: 3% !important;
  -ms-transform: none !important;
      transform: none !important;
  left: initial !important;
  width: auto !important;
  top: initial !important;
  width: 60px !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(7):not(.ui-draggable-dragging) {
    width: 46px !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(7):not(.ui-draggable-dragging) {
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(7):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.step-5 .stacked:nth-child(5):not(.ui-draggable-dragging) {
  top: -5% !important;
  right: 24% !important;
  -ms-transform: none !important;
      transform: none !important;
  left: initial !important;
  width: auto !important;
  top: initial !important;
  width: 60px !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(5):not(.ui-draggable-dragging) {
    width: 46px !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(5):not(.ui-draggable-dragging) {
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(5):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.step-5 .stacked:nth-child(9):not(.ui-draggable-dragging) {
  top: -5% !important;
  left: 29% !important;
  -ms-transform: none !important;
      transform: none !important;
  width: auto !important;
  top: initial !important;
  width: 60px !important;
}

@media screen and (max-width: 600px) {
  .step-5 .stacked:nth-child(9):not(.ui-draggable-dragging) {
    width: 46px !important;
  }
}

@media screen and (max-width: 470px) {
  .step-5 .stacked:nth-child(9):not(.ui-draggable-dragging) {
    width: 38px !important;
  }
}

.step-5 .stacked:nth-child(9):not(.ui-draggable-dragging) img {
  width: auto !important;
}

.stacked:not(.ui-draggable-dragging) {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important;
  width: 100% !important;
}

.stacked:not(.ui-draggable-dragging) img {
  width: 81% !important;
}

.stacked:not(.ui-draggable-dragging) .ingredient-title {
  display: none;
}

.stacked.bread img {
  width: 90% !important;
}

.ui-draggable-dragging {
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .game-container {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 470px) {
  .game-container {
    width: 352px;
    height: 352px;
  }
}

@media screen and (max-width: 360px) {
  .game-container {
    width: 315px;
    height: 315px;
  }
}

.next-button, .done-button {
  position: absolute;
  bottom: 12px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 74px;
  background-color: #1a5632;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .next-button, .done-button {
    font-size: 10px;
    line-height: 27px;
    bottom: 4px;
  }
}

@media screen and (max-width: 470px) {
  .next-button, .done-button {
    font-size: 9px;
    line-height: 20px;
    bottom: 6px;
  }
}

@media screen and (max-width: 361px) {
  .next-button, .done-button {
    font-size: 9px;
    line-height: 20px;
    bottom: 2px;
  }
}

.type-your-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 27px;
  width: 100%;
}

.type-your-name:focus {
  outline: none;
}

.type-your-name::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.type-your-name:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.type-your-name::placeholder {
  color: #fff;
  opacity: 0.6;
}

@media screen and (max-width: 470px) {
  .type-your-name {
    font-size: 15px;
  }
}

.debug .type-your-name {
  border: 1px solid red;
}

.step-title {
  font-family: "CabritoNorExB";
  color: #1a5632;
  font-size: 26px;
  padding-top: 13px;
}

@media screen and (max-width: 600px) {
  .step-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 470px) {
  .step-title {
    font-size: 15px;
    padding-top: 2px;
  }
}

@media screen and (max-width: 361px) {
  .step-title {
    font-size: 13px;
    padding-top: 0;
  }
}

.step-title sup {
  font-size: 42%;
  top: -1.2em;
}

.ui-draggable-dragging .ingredient-title {
  display: none;
}

.case-cover, .case-cover-img {
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .case-cover, .case-cover-img {
    top: 47.5%;
  }
}

@media screen and (max-width: 470px) {
  .case-cover, .case-cover-img {
    top: 45%;
  }
}

.case-cover {
  background-color: #0492a6;
  width: 68%;
  height: 42%;
  border-radius: 31px;
}

@media screen and (max-width: 600px) {
  .case-cover {
    width: 71%;
    height: 43%;
  }
}

@media screen and (max-width: 470px) {
  .case-cover {
    width: 71%;
    height: 43%;
  }
}

.case-cover-container {
  position: absolute;
  top: -347px;
  left: 85px;
  width: 370px;
  height: 440px;
  display: none;
}

@media screen and (max-width: 600px) {
  .case-cover-container {
    top: -205px;
    left: 57px;
    width: 304px;
    height: 366px;
  }
}

@media screen and (max-width: 470px) {
  .case-cover-container {
    top: -157px;
    left: 47px;
    width: 234px;
    height: 283px;
  }
}

@media screen and (max-width: 361px) {
  .case-cover-container {
    top: -141px;
    left: 39px;
    width: 212px;
    height: 257px;
  }
}

.debug .case-cover {
  border: 1px solid red;
}

#case-cover {
  height: 100%;
}

#case-cover .front-lf {
  background-image: url("assets/lunchtime_flavorites/case-cover.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

#case-cover .back-lf {
  width: 100%;
  background-image: url("assets/lunchtime_flavorites/case-cover.png");
  background-size: contain;
  background-position: top center;
  height: 50%;
  background-repeat: no-repeat;
}

.stacked.ui-draggable-dragging {
  z-index: 99;
}

.debug .stack-area-5-ingredient {
  border: 1px solid red;
}

.debug .stick-container {
  border: 1px solid red;
}

.stick-container {
  height: 42%;
  width: 33.3%;
  float: left;
  padding: 5px;
}

.margin-top-10-percent {
  margin-top: 10%;
}

.how-to-play-wrapper {
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  bottom: 18px;
  background-image: url("assets/lunchtime_flavorites/game_start/background.png");
  background-size: cover;
  z-index: 99999;
}

@media screen and (max-width: 600px) {
  .how-to-play-wrapper {
    top: 17px;
    bottom: 17px;
    left: 17px;
    right: 17px;
  }
}

@media screen and (max-width: 470px) {
  .how-to-play-wrapper {
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
  }
}

.how-to-play-wrapper .how-to-play-container {
  position: absolute;
  top: 53%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  padding-bottom: 110px;
  width: 80%;
}

.how-to-play-wrapper .how-to-play-container .how-to-play-title {
  font-family: "CabritoNorExB";
  font-size: 24px;
  color: #1a5632;
  margin-top: 25px;
  margin-bottom: 0px;
}

.how-to-play-wrapper .how-to-play-container p {
  font-family: "CabritoNorBol";
  font-size: 18px;
  color: #1a5632;
  margin: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.how-to-play-wrapper .how-to-play-container .start-game-button {
  font-family: "CabritoNorExB";
  margin-top: 20px;
  color: #ffffff;
  background-color: #1a5632;
  border: 0;
}

@media screen and (min-width: 600px) {
  .how-to-play-wrapper .how-to-play-container .start-game-button {
    padding: 15px 59px;
  }
}

@media screen and (max-width: 470px) {
  .how-to-play-wrapper .how-to-play-container .start-game-button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .how-to-play-wrapper img {
    height: 110px;
    margin-top: 20px;
  }
  .how-to-play-wrapper .how-to-play-container h2 {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 470px) {
  .how-to-play-wrapper img {
    height: 96px;
    margin-top: 37px;
  }
  .how-to-play-wrapper .how-to-play-container h2 {
    font-size: 14.4px !important;
    margin-top: 14px !important;
  }
  .how-to-play-wrapper .how-to-play-container p {
    font-size: 10.8px;
    display: inline-block;
    width: 75%;
  }
  .how-to-play-wrapper .how-to-play-container .start-game-button {
    padding: 7px 17px;
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .how-to-play-wrapper img {
    height: 76px;
    margin-top: 37px;
  }
  .how-to-play-wrapper .how-to-play-container h2 {
    font-size: 17px !important;
    margin-top: 3px !important;
  }
  .how-to-play-wrapper .how-to-play-container p {
    font-size: 12px;
    display: inline-block;
    width: 62%;
  }
  .how-to-play-wrapper .how-to-play-container .start-game-button {
    padding: 7px 17px;
    font-size: 14px;
  }
}

.game-end-wrapper {
  display: none;
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  bottom: 18px;
  background-image: url("assets/lunchtime_flavorites/game_end/game_end_background.png");
  background-size: cover;
  z-index: 999991;
}

.game-end-wrapper .you-did-it-title {
  margin-top: 43px;
}

.game-end-wrapper .you-did-it-subtitle {
  color: #1a5632;
  font-family: "CabritoNorBol";
  font-size: 18px;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .game-end-wrapper {
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
  }
  .game-end-wrapper .you-did-it-title {
    margin-top: 40px;
    height: 40px;
  }
  .game-end-wrapper .you-did-it-subtitle {
    font-size: 17px;
  }
}

@media screen and (max-width: 470px) {
  .game-end-wrapper .you-did-it-title {
    margin-top: 15px;
    height: 33px;
  }
  .game-end-wrapper .you-did-it-subtitle {
    margin-top: 8px;
    font-size: 11px;
    line-height: 11px;
  }
}

@media screen and (max-width: 370px) {
  .game-end-wrapper .you-did-it-title {
    margin-top: 15px;
    height: 33px;
  }
  .game-end-wrapper .you-did-it-subtitle {
    margin-top: 6px;
    font-size: 11px;
    line-height: 11px;
  }
}

.game-end-wrapper .game-end-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 240px;
}

.game-end-wrapper .game-end-message-container .fun-fruity-fact-title {
  font-family: 'NexaRustScriptL0';
  font-size: 34px;
  font-weight: 600;
}

.game-end-wrapper .game-end-message-container p {
  font-family: 'CabritoNorExB';
  font-size: 18px;
  color: #1a5632;
  margin-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  .game-end-wrapper .game-end-message-container .fun-fruity-fact-title {
    font-size: 27px;
  }
  .game-end-wrapper .game-end-message-container p {
    font-size: 14px;
    margin: 0px;
    padding-left: 41px;
    padding-right: 27px;
  }
}

@media screen and (max-width: 470px) {
  .game-end-wrapper .game-end-message-container .fun-fruity-fact-title {
    font-size: 18px;
  }
  .game-end-wrapper .game-end-message-container p {
    line-height: 14px;
    font-size: 11px;
    padding-left: 53px;
    padding-right: 53px;
  }
}

@media screen and (max-width: 370px) {
  .game-end-wrapper .game-end-message-container .fun-fruity-fact-title {
    font-size: 18px;
  }
  .game-end-wrapper .game-end-message-container p {
    padding-left: 56px;
    padding-right: 53px;
    font-size: 10px;
  }
}

.game-end-wrapper .end_ctas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 54px;
}

@media screen and (max-width: 600px) {
  .game-end-wrapper .end_ctas {
    bottom: 76px;
  }
}

@media screen and (max-width: 470px) {
  .game-end-wrapper .end_ctas {
    top: auto;
    bottom: 50px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 370px) {
  .game-end-wrapper .end_ctas {
    top: auto;
    bottom: 32px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .game-end-wrapper .bottom-cta-container .get-coupon-button {
    margin-bottom: 6px;
  }
  .game-end-wrapper .bottom-cta-container .cta {
    padding-bottom: 5px;
  }
  .game-end-wrapper .game-end-image {
    height: 130px;
  }
}

@media screen and (max-width: 470px) {
  .game-end-wrapper .bottom-cta-container .get-coupon-button {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .game-end-wrapper .game-end-image {
    height: 100px;
  }
}

.game-end-image {
  position: absolute;
  top: 21%;
  right: 4%;
}

.apple .game-end-image {
  top: 37%;
  right: 8%;
}

@media screen and (max-width: 600px) {
  .apple .game-end-image {
    top: 27%;
    right: 2%;
  }
}

@media screen and (max-width: 470px) {
  .apple .game-end-image {
    top: 28%;
    height: 85px;
  }
}

.orange .game-end-image {
  top: 30%;
  right: 4%;
}

.kiwi-strawberry .fun-fruity-fact-title {
  color: #f97799;
}

.apple .fun-fruity-fact-title {
  color: #65a521;
}

.orange .fun-fruity-fact-title {
  color: #f18a23;
}
